/* 기본 스타일 */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #b2c9ff 0%, #708cfc 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background 0.3s;
}

body.dark-mode {
    background: linear-gradient(to right, #2e2e2e 0%, #1c1c1c 100%);
    color: #ffffff;
}

.container {
    max-width: 800px;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    position: relative;
}

body.dark-mode .container {
    background-color: #333;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 700;
    position: relative;
}

body.dark-mode h1 {
    color: #fff;
}

.helpButton, .darkModeButton {
    background-color: #5072ff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    font-size: 14px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.helpButton i, .darkModeButton i {
    margin: 0;
}

.helpButton:hover, .darkModeButton:hover {
    background-color: #304bff;
}

body.dark-mode .helpButton, body.dark-mode .darkModeButton {
    background-color: #888;
}

body.dark-mode .helpButton:hover, body.dark-mode .darkModeButton:hover {
    background-color: #666;
}

.button-group {
    display: flex;
    gap: 10px;
}

#budgetSection, #addItemSection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

#budgetInput, #itemNameInput, #budgetDateInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#itemNameInput {
    flex: 3;
}

body.dark-mode #budgetInput, body.dark-mode #itemNameInput, body.dark-mode #budgetDateInput {
    border: 1px solid #666;
    background-color: #444;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

body.dark-mode .dropdown-content {
    background-color: #333;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

body.dark-mode .dropdown-content div {
    color: white;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}

body.dark-mode .dropdown-content div:hover {
    background-color: #555;
}

.show {
    display: block;
}

button {
    flex: 0 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5072ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: #304bff;
}

body.dark-mode button {
    background-color: #888;
    color: #fff;
}

body.dark-mode button:hover {
    background-color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

li:hover {
    background-color: #f1f1f1;
    transform: translateY(-5px);
}

body.dark-mode li {
    background-color: #444;
    border: 1px solid #666;
}

body.dark-mode li:hover {
    background-color: #555;
}

.purchaseButton {
    background-color: #7a9dff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.purchaseButton i {
    margin-right: 5px;
}

.purchaseButton:hover {
    background-color: #5072ff;
}

body.dark-mode .purchaseButton {
    background-color: #888;
}

body.dark-mode .purchaseButton:hover {
    background-color: #666;
}

#totalAmountContainer, #historyContainer {
    margin-top: 20px;
    text-align: center;
}

#totalAmountContainer div, #historyContainer h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

#totalAmount, #budgetStatus, #date {
    font-weight: bold;
}

body.dark-mode #totalAmountContainer div, body.dark-mode #historyContainer h2, body.dark-mode #totalAmount, body.dark-mode #budgetStatus, body.dark-mode #date {
    color: #fff;
}

#historyContainer {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.dark-mode #historyContainer {
    background-color: #333;
}

#historyList li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

body.dark-mode #historyList li {
    border-bottom: 1px solid #666;
}

#historyList li:last-child {
    border-bottom: none;
}

body.dark-mode #historyList li:last-child {
    border-bottom: none;
}

#historyList li input[type="checkbox"] {
    margin-right: 10px;
}

#removeSelectedButton, #clearHistoryButton, #resetButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff6f69;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#removeSelectedButton i, #clearHistoryButton i, #resetButton i {
    margin-right: 5px;
}

#removeSelectedButton:hover, #clearHistoryButton:hover, #resetButton:hover {
    background-color: #ff3b30;
}

body.dark-mode #removeSelectedButton, body.dark-mode #clearHistoryButton, body.dark-mode #resetButton {
    background-color: #888;
}

body.dark-mode #removeSelectedButton:hover, body.dark-mode #clearHistoryButton:hover, body.dark-mode #resetButton:hover {
    background-color: #666;
}

#buttonContainer {
    text-align: center;
    margin-top: 40px;
}

#shareButton, #resetButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: inline-block;
}

#shareButton i, #resetButton i {
    margin-right: 5px;
}

#shareButton:hover, #resetButton:hover {
    background-color: #ffb300;
}

body.dark-mode #shareButton, body.dark-mode #resetButton {
    background-color: #888;
    color: #fff;
}

body.dark-mode #shareButton:hover, body.dark-mode #resetButton:hover {
    background-color: #666;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity-button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 5px;
}

body.dark-mode .quantity-button {
    background-color: #666;
}

.quantity-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 5px;
}

body.dark-mode .quantity-input {
    border: 1px solid #666;
    background-color: #444;
    color: #fff;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
